.App {
  text-align: center;
}

@font-face {
  font-family: "IRANSansWeb";
  src: local("IRANSansWeb"),
    url("../public/assets/fonts/iransans/IRANSansWeb.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "IRANSansWeb_FaNum";
  src: local("IRANSansWeb_FaNum"),
    url("../public/assets/fonts/iransans/IRANSansWeb_FaNum.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "ficon";
  src: url("../public/assets/fonts/icon/ficon.woff?") format("woff"),
    url("../public/assets/fonts/icon/ficon.woff?#ficon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*="icon-"]:before {
  font-family: "ficon";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  transition: all 0.4s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-category4:before {
  content: "\e817";
}

.icon-personalcard:before {
  content: "\f0e2";
}

.icon-logout4:before {
  content: "\e946";
}

.icon-profile-2user4:before {
  content: "\e9d8";
}

.icon-people4:before {
  content: "\e9c8";
}

.icon-profile-add4:before {
  content: "\e9d9";
}

/*  custom input date picker */

.custom-input {
  width: 100%;
  display: block;
  font-size: 14px;
  border: 1px solid #313131;
  border-radius: 30px;
  margin-bottom: 4px;
  padding: 12px 16px;
  background-color: #212227 !important;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  /* opacity: 0; */
  background-color: transparent;
  position: relative;
  /* transform: translate(-50px); */
  animation: .4s intro-x-animation ease-in-out .33333s;
  animation-fill-mode: forwards;
  animation-delay: .1s;

}

.custom-input:focus {
  outline: auto 2px #312e8133;
  box-shadow: 0 0 0 4px rgb(49 46 129 / 0.2);
  border: 1px solid rgb(49 46 129 / 0.4);
  ;
}

.custom-input:focus-visible {
  outline-width: 0;

}